#Interface for {{ peer_name }}
[Interface]
Table = off
PrivateKey = {{ private_key }}

{% if preup is not none %}{% for val in preup -%}
PreUp = {{ val }}
{% endfor %}{% endif -%}

PostUp= ip route add {{ peer_ip }}/32 dev {{ interface_name }}
PostUp= ip -6 route add {{ peer_ip_v6 }}/128 dev {{ interface_name }}
PostUp = iptables -I FORWARD -i {{ interface_name }} -j ACCEPT

{%- if postup is not none %}{% for val in postup %}
PostUp = {{ val }}
{%- endfor %}{% endif %}

{% if predown is not none %}{% for val in predown -%}
PreDown = {{ val }}
{% endfor %}{% endif -%}

PostDown= ip route delete {{ peer_ip }}/32 dev {{ interface_name }}
PostDown= ip -6 route delete {{ peer_ip_v6 }}/128 dev {{ interface_name }}
PostDown = iptables -D FORWARD -i {{ interface_name }} -j ACCEPT

{%- if postdown is not none %}{% for val in postdown %}
PostDown = {{ val }}
{%- endfor %}{% endif %}

MTU = {{ mtu }}
ListenPort = {{ listen_port }}

{%- if interface_custom is not none %}{% for val in interface_custom %}
{{ val }}
{%- endfor %}{% endif %}

[Peer]
PublicKey = {{ peer_public }}
PresharedKey = {{ preshared_key }}
{% if peer_endpoint is not none -%}
Endpoint = {{ peer_endpoint }}:{{ peer_port }}
{% endif -%}
AllowedIPs = 0.0.0.0/0, ::/0
PersistentKeepalive = {{ keep_alive }}
{%- if peer_custom is not none %}{% for val in peer_custom %}
{{ val }}
{%- endfor %}{% endif %}